footer {
  background-color: white;
  bottom: 0;
  box-shadow: 8px 1px 10px rgba(110, 116, 134, 0.24);
  left: 0;
  position: fixed;
  right: 0;
  width: 100%;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 16px 0;
}

.icons img {
  height: 30px;
}
