body {
  height: 10%;
  margin: 0;
  padding: 0;
}

.loader-wrapper {
  display: grid;
  height: 100%;
  left: 0;
  place-items: center;
  position: fixed;
  top: 0;
  width: 100%;
}

.loader {
  animation: spin 1s linear infinite;
  border: 16px solid #e3e3e3;
  border-radius: 50%;
  border-top: 16px solid #fd8061;
  height: 80px;
  width: 80px;
}

@keyframes spin {

  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
